*
{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
::-webkit-scrollbar
{
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(32,32,32,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(32,32,32,0.4); 
}
*
{
    cursor: default;
}
#sidebar
{
    color: white;
	position: absolute;
	top:0;
	right:0;
	height:680px;
	width:200px;
	overflow-y: scroll;
}
.selector
{
	margin-top: 30px;
}
.type0
{
	width:40px;
	height:40px;
	border: 1px solid black;
}
.type2
{
	background: white;
	width:40px;
	height:40px;
	border: 1px solid black;
}
.type3
{
	width:40px;
	height:40px;
	border: 1px solid black;
	font-family: arrow;
	font-size: 40px;
}
.type4
{
	width:40px;
	height:40px;
	border: 1px solid black;
	font-family: arrow;
	font-size: 40px;
}
.type5
{
	width:40px;
	height:40px;
	border: 1px solid black;
	font-family: arrow;
	font-size: 40px;
}
.type6
{
	width:40px;
	height:40px;
	border: 1px solid black;
	font-family: arrow;
	font-size: 40px;
}
.type3::after
{
	content: "^";
    color: white;
}
.type4::after
{
	content: "<";
    color: white;
}
.type5::after
{
	content: "V";
    color: white;
}
.type6::after
{
	content: ">";
    color: white;
}
#playButton
{
	background: green;
	border-radius: 100%;
	border: 3px solid white;
	width: 10px;
	height: 10px;
}
#stopButton
{
	background: red;
	border-radius: 100%;
	border: 3px solid white;
	width: 10px;
	height: 10px;
}
#startAndStop
{
	display: inline-block;
}
#sidebar
{
	background:url(../../stageimg/levelEditorBack.png);
}
.type7
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/portal.png);
}
.type8
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/coin.gif);
}
.type9
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/lava.png);
}
.type10
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/water.png);
}
.type11
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/conveyLeft.gif);
}
.type12
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/conveyRight.gif);
}
.type13
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/springboard_normal.png);
}
.type14
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/upgravity.png);
}
.type15
{
	width:40px;
	height:40px;
	border: 1px solid black;
	background: url(../../stageimg/downgravity.png);
}
